/*
Colors used:
Background Color (White): #FFFFF;
Primary Font Color (Grey): #352F2F or rgb(53,47,472);
PayWave Color (Blue): #061532 or rgb (6,21,50)
KOOVS Color (Pink): #BC8C8F or rgb (188,140,143)
NestWise Color (Teal): #1A5562 or rgb (26,85,98)
Hover Button Color : #ECAE0D or rgb(236,174,13);
Active Button Color : #000000;
Footer Active Button Color : #F4F1F1;
Footer Active Button Color : #ECAE0D;
*/
* {
    box-sizing: border-box;
}
header {
    background-color: #BC8C8F;
    position: relative;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 10px;
    border-bottom: 3px solid #4a4a4a;
        }
        * {
            box-sizing: border-box;
            }
    nav > ul {
        list-style-type: none; /* This removed the bullet point (bullets)*/
        padding: 0;
            }
    nav > ul > li {
        display: inline-block; /* This makes all button aligned in 1 row*/
                    } 
    nav > ul > li > a {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #4a4a4a;
                    }
body {
        background-color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px; /* Sets the font size to 16px */
        font-weight: 300; /* Sets the font weight to 300 */
        line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
        color: #352F2F;
        }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1.4;
        }
    h1 {
        text-align: center; /* Centers text */
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.75em;
        font-weight: 900;
        }
    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.25em;
        font-weight: 600;
        }
    h3 {
        font-size: 1.75em;
        font-weight: 400;
        }
    h4 {
        font-size: 1.35em;
        font-weight: 400;
        }
    img {
        width: 100%;
        }
        a {
        color: #ffffff;
        text-decoration: none; /* No underlining */
        }
        a:hover {
        color: #ECAE0D;
        text-decoration: underline; /* Underlining when hovering over a link */
        }
        a:visited { /* visited link */
        color: #ffffff;
        }
        a:active { /* selected link */
        color: #994c30;
        }
        a:focus {
        color: #cc6540;
        text-decoration: underline;
        }
    .button {
            display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
            background-color: #000000;
            color: #000000; /* needed to override the default link color */
            text-transform: capitalize;
            font-weight: 400;
            padding: 10px;
            border-radius: 3px;
            transition: 0.2s opacity;
            }
    .button:hover {
            background-color: #ECAE0D;
            color: #ffffff;
                    }
    .button.contact {
            background-color: #000000;
            color: #ffffff;
            text-transform: capitalize;
            border: 2px solid #000000;
                    }
    .button.contact:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
    .button.project {
            background-color: #000000;
            color: #ffffff;
            text-transform: capitalize;
            border: 2px solid #000000;
                            }
    .button.project:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
    .button.prototype {
            background-color: #061532;
            color: #ffffff;
            text-transform: capitalize;
            border: 2px solid #061532;
                    }
    .button.prototype:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
                            #my-link {/* id selector */
                                color: green;
                            }
                            /* Layout styling */
    .container {
                padding: 0 15px;
                }
    .row {
            margin: 25px 0; /* 25px top and bottom, 0 left and right */
            padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
            }
    .logo {
        max-width: 48px;
        text-align: center;
        }
    #hero {
            padding: 20px 0;
            display: inline-block;
            width: 100%;
            }
    #hero h1 {
                background-color: #BC8C8F;
                margin: 0;
                padding: 0.67em 0;
                }