/*
Colors used:
Background Color (White): #FFFFF;
Primary Font Color (Grey): #352F2F or rgb(53,47,472);
PayWave Color (Blue): #061532 or rgb (6,21,50)
KOOVS Color (Pink): #BC8C8F or rgb (188,140,143)
NestWise Color (Teal): #1A5562 or rgb (26,85,98)
Hover Button Color : #ECAE0D or rgb(236,174,13);
Active Button Color : #000000;
Footer Active Button Color : #F4F1F1;
Footer Active Button Color : #ECAE0D;
*/
* {
    box-sizing: border-box;
}
/* Layout styling */

html { 
    scroll-behavior: smooth;
}

.container {
    padding: 0 15px;
}
header {
    background-color: #f2e8e8;
    position: fixed;
    width:100%;
    padding-top: 21px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 5px;
    border-bottom: 3px solid #4a4a4a;
        }
        * {
            box-sizing: border-box;
            }
    nav > ul {
        list-style-type: none; /* This removed the bullet point (bullets)*/
        padding: 0;
        margin: 0;
            }
    nav > ul > li {
        display: inline-block; /* This makes all button aligned in 1 row*/
                    } 
    nav > ul > li > a {
        padding: 0 15px;
        text-transform: uppercase;
        font-weight: 700;
        color: #4a4a4a;
                    }
    .navtoggle li:not(:last-child) {
        display: none;
                    }
    .navtoggle, .navtoggle.responsive {
        position: relative;
                            }
    .navtoggle li .icon {
        position: absolute;
        right: 0;
        top: 2px;
        font-size: 35px;
        padding-right: 0;
        transition: .5s;
                    }
    .navtoggle li .icon:hover {
        border-radius: 0.1em;
        padding: 0px 17px;
        background-color: #F2E8E8;
                    }
    .navtoggle.responsive nav {
        padding: 24px 0 0;
                            }
    .navtoggle.responsive li  {
        display: block;
        padding: 10px 0;
        text-align: end;
        transition: .5s ease-in-out;
        transition: .5s ease-in-out;
                                }
    .navtoggle.responsive li:hover {
        padding: 10px 24px;
        background-color: #F2E8E8;
                            }
    .navtoggle.responsive li:last-child  {
        padding: 0 0 10px;
                            }
    .navtoggle.responsive nav {
        text-align: end;
        width: auto;
        margin-bottom: 8px;
        margin-top: 42px;
        /*border-radius: 8px;
        ackground-color: #3c2033;*/
        float: right;
                            }
    .navtoggle.responsive li .icon {
        background-color: #F2E8E8;
        right: 0;
        top: 2px;
        font-size: 35px;
        padding-right: 0;
        transition: .7s;
                            }
    .nav-button {
        color: #352F2F;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 15px;

        text-align: center;
                }
    .nav-button:hover,
    .nav-button:focus {
        text-decoration: underline;
                            }
body {
        background-color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px; /* Sets the font size to 16px */
        font-weight: 300; /* Sets the font weight to 300 */
        line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
        color: #352F2F;
        }
    h1,h2,h3,h4 {
        line-height: normal;
        }
    h1 {
        text-align: center; /* Centers text */
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.75em;
        font-weight: 900;
        padding-top: 20px;
        padding-bottom: 20px
        }
    h2 {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 2.25em;
        font-weight: 600;
        text-align: center;
        }
    h3 {
        font-size: 1.75em;
        font-weight: 400;
        }
    h4 {
        font-size: 1.35em;
        font-weight: 400;
        }
    img {
        width: 100%;
        }
        p {
        padding: 10px;
        }
    a {
        color: #ffffff;
        text-decoration: none; /* No underlining */
        }
    a:hover {
        color: #ECAE0D;
        text-decoration: underline; /* Underlining when hovering over a link */
        }
    a:visited { /* visited link */
        color: #352F2F;
        }
    a:active { /* selected link */
        color: #0b0908;
        }
    a:focus {
        color: #ECAE0D;
        text-decoration: underline;
        }
    .button {
            display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
            background-color: #000000;
            color: #000000; /* needed to override the default link color */
            text-transform: capitalize;
            font-weight: 400;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 3px;
            transition-duration: 0.2s;
            transition-property: opacity;
            }
    .button:hover {
            background-color: #ECAE0D;
            color: #ffffff;
                    }
    .button.contact {
            background-color: #000000;
            color: #ffffff;
            text-transform: capitalize;
                    }
    .button.contact:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
    .button.project {
            background-color: #000000;
            color: #ffffff;
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-transform: capitalize;;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            text-align: center;
                            }
    .button.project:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
    .button.prototype {
            background-color: #061532;
            color: #ffffff;
            text-transform: capitalize;
            border: 2px solid #061532;
            
                    }
    .button.prototype:hover {
            background-color: #ECAE0D;
            color: #ffffff;
            border: 2px solid #ECAE0D;
                            }
                            #my-link {/* id selector */
                                color: green;
                            }
                            /* Layout styling */
    .row {
            margin: 25px 0; /* 25px top and bottom, 0 left and right */
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
            }
    .row#prototype {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            }
    .row::after {
                content: "";
                clear: both;
                display: table;
                }
    .logo {
        max-width: 76px;
        text-align: center;
        }
    #hero {
            padding-top: 130px;
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #4a4a4a;
            }
    #hero h1 {
            background-color: #BC8C8F;
            margin: 0;
            padding: 0.67em 0;
            }
    #project1 {
            display: inline-block;
            width: 100%;
            border-bottom: 1px solid #4a4a4a;
            padding-top: 130px;
            }
    #project1 h1 {
            background-color: #061532
            margin: 0;
            padding: 0.67em 0;
            }
    footer {
            background-color: #BC8C8F;
            border-bottom: 3px solid #BC8C8F;
            color: #ffffff;
            padding: 20px 40px;
            text-align: center;
                }
    .social > svg {
        height: 48px;
        width: auto;
        padding: 7px 2px;
        margin: 40px 0;
    }
    .social > img {
        height: 48px;
        width: auto;
        padding: 7px 2px;
        margin: 40px 0;
    }
    .sun {
        animation-duration: 4s;
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
            }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
                }
    @keyframes color-change {
        0% {fill: #edc655;}
        50% {fill: #fcffad;}
        100% {fill: #f76414;}
                            }
    .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
                    }
    @keyframes cloud-move {
        from {transform: translate(0,50px);}
        to {transform: translate(200px,50px);}
                            }
    .cloud-back {
        animation: 34s cloud-move-reverse infinite alternate linear;
                }
    @keyframes cloud-move-reverse {
        from {transform: translate(446px,48px);}
        to {transform: translate(100px, 48px);}
                                    }
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .col-md-6 {
		width: 50%;
	}
    .col-md-4 {
		width: calc(100%/3);
	}
    header {
        text-align: unset;
        padding: 20px 0 11px;
        }
        nav {
            width: auto;
            float: right;
            margin-top: 4px;
            }
        #hero span {
                display: block;
                    }
        [class*="col-"] {
                        float: left;
                        }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    nav {
        width: auto;
        float: right;
    }
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;

        .navtoggle li:not(:last-child) {
            display: inline-block;
                }
        .navtoggle li:last-child {
            display: none;
                }
                        }
                    }